@mixin switch($tp){
  position: absolute;
  display: block;
  width: 60px;
  height: 35px;
  left: 80%;
   top: $tp;
}

.switch__1{
  @include switch(111px);
}

.switch__2 {
  @include switch(164px);
}

.switch__3 {
  @include switch(217px); 
}

.switch__01 {
 
  @include switch(111px); 
   
  
}
.switch__02 {
 
  @include switch(164px); 
   
  
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #474747;
  -webkit-transition: .6s;
  transition: .6s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #FFFFFF;
  -webkit-transition: .6s;
  transition: .6s;
}

input:checked + .slider {
  background-color: #13dd61;
}

input:focus + .slider {
  box-shadow: 0 0 1px #13dd61;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
